
<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">Legend of the Five Rings News</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li id='scrapeSite'><a>New Articles</a></li>
			<li id='saved-articles'><a>Saved Articles</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li id='scrapeSite'><a>New Articles</a></li>
	<li id='saved-articles'><a>Saved Articles</a></li>
</ul>

<div class="container">
	<div class='row center'>
		<h2><i>All Your L5R news in one place!</i></h2>
	</div>
	<div class='row article'>
		<div id="articles"></div>
		<div id="notes"></div>
	</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/app.js"></script>